<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="testingdev1902simple" frontName="testingdev1902simple">
            <module name="TestingDev1902_SimpleModule" />
        </route>
    </router>
</config>
